<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post"  th:object="${city}">
    <table >
        <tr>
            <td><label >Tên: </label></td>
            <td><input type="text" th:field="*{name}" ></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>

        </tr>
        <tr>
            <td><label >Quốc gia: </label></td>
            <td><select  id="country"  th:field="*{country}" >
                <option th:each="c:${country}" th:value="${c.id}" th:text="${c.name}"></option>
            </select></td>
        </tr>
        <tr>
            <td><label >Diện tích: </label></td>
            <td><input type="text" th:field="*{area}" ></td>
            <td th:if="${#fields.hasErrors('area')}" th:errors="*{area}">Name Error</td>

        </tr>
        <tr>
            <td><label >Dân số: </label></td>
            <td><input type="text" th:field="*{population}" ></td>
            <td th:if="${#fields.hasErrors('population')}" th:errors="*{population}">Name Error</td>        </tr>

        </tr>
        <tr>
            <td><label >GDP: </label></td>
            <td><input type="text" th:field="*{gdp}" ></td>
            <td th:if="${#fields.hasErrors('gdp')}" th:errors="*{gdp}">Name Error</td>

        </tr>
        <tr>
            <td><label >Giới thiệu: </label></td>
            <td><textarea  rows = "10" cols = "80" th:field="*{description}" ></textarea></td>
            <td th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Name Error</td>
        </tr>

    </table>
    <input type="submit" value="Cập nhật">
    <a th:href="@{/cities}" style="text-decoration: none">Back to list city</a>
</form>
</body>
</html>